.sizePanelImg{
    width: 25px;
}
.homePage ul>a{
    font-size: 12px;
}
.blockProfiles ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.blockProfiles a{
    text-decoration: none;
}
.blockProfiles p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.blockProfiles img{
    width: 45px;
    border-radius: 50%;
}
.blockProfiles li{
    margin-right: 5px;
    list-style-type: none;
}
.blackName{
    color: black;
}
.grayName{
    color: gray;
}
.btn-res{
    font-size: 13px;
    margin-left: 10px;
} 
.items{
  width:90%;
  margin:0px auto; 
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 0px solid #fff;
}
.instaModal {
    text-align: center;
}
.instaModal  hr{
    margin: 5px;
}
.instaModal a{
    text-decoration: none;
    color: black; 
    font-size: 14px;
}
.instaModal li{
    list-style-type: none;
}
.iconBlockFooterCardImgPost li{
    list-style-type: none; 
    margin-right: 10px;
}
.iconBlockFooterCardImgPost ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.iconBlockFooterCardImgPost img{
    width: 25px;
}

.sidebar{
    position: fixed; /* Фиксирует элемент относительно окна браузера */
    top: 0;          /* Прижимает к верхнему краю */
    left: 0;         /* Прижимает к левому краю */
    width: 250px;    /* Задайте нужную ширину */
    height: 100vh;   /* 100% высоты окна браузера */ 
    overflow-y: auto;
}