.sizePanelImg{
    width: 25px;
}
.homePage ul>a{
    font-size: 12px;
}
.blockProfiles ul{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}
.blockProfiles a{
    text-decoration: none;
}
.blockProfiles p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.blockProfiles img{
    width: 45px;
    border-radius: 50%;
}
.blockProfiles li{
    margin-right: 5px;
    list-style-type: none;
}
.blackName{
    color: black;
}
.grayName{
    color: gray;
}
.btn-res{
    font-size: 13px;
    margin-left: 10px;
} 
.items{
  width:90%;
  margin:0px auto; 
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 0px solid #fff;
}