body{
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
a{
    text-decoration: none;
}
.section{
    margin-left: 100px;
    margin-right: 100px;
}
.soderjanie{
    border: 1px solid black; 
    width: 400px; 
    background-color:ghostwhite; 
}

.soderjanie h2{
    text-align: center;
}
.menu ul{
    display: flex;
    justify-content: center;
    box-shadow: 4px 3px 14px 4px black;
    padding: 15px;
}
.menu li{
    list-style-type: none;
    margin-left: 30px;
}
.menu li a{
    font-size: 25px;
    color: #000;
    text-transform: uppercase;
}
.menu li a:hover{
    color: red;
}
.soderjanie li{
    font-size: 25px;
}
.soderjanie h2{
    font-size: 28px;
}
.textBlock p{
    font-size: 25px;
}
.bacg{
    text-align: center;
}
.bacg img{
    height: 720px;
}
.tours{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.tours a{
    font-size: 20px;
    padding-left: 20px;
}
.tours h2{
    font-size: 20px;
    padding-left: 20px;
}

.tour{
    box-shadow: 0px 3px 13px black;
    width: 400px;
    margin: 10px;
}
.imgTour {
    height: 400px;
}
.tours img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.map{
    text-align: center;
}
.footer{
    margin-top: 50px;
    background: #e5e5e5;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer h2{
    font-size: 35px;
}
ul{
    list-style-type: none;
}
.social ul {
    display:  flex;
    justify-content: center;
}
.social li{
    margin-left: 10px;
    margin-right: 10px;
}
.social img{
    width: 100px;
}
.regions p{
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}
.regions h2{
    text-align: center;
}