.header{
    background-color: black;
    color: white;
}
.header p{
    margin: 0;
    padding: 0;
}
.header ul{
display: flex;
margin: 0;
padding: 0;
gap: 10px;
}
.header li{
    list-style-type: none;
}
.header img{
    width: 30px;
}
/* sliderBlock */
.sliderBLock2{
    height: 500px;
    object-fit: cover;
}
.SmallSlider2 img{
    height:250px;
    width: 240px;
    object-fit: cover;
}
/* blockIcons */
.blockIcons img{
    width: 100px;
}