.header{
    background-color: black;
    color: white;
}
.header p{
    margin: 0;
    padding: 0;
}
.header ul{
display: flex;
margin: 0;
padding: 0;
gap: 10px;
}
.header li{
    list-style-type: none;
}
.header img{
    width: 30px;
}
/* sliderBlock */
.sliderBLock2{
    height: 500px;
    object-fit: cover;
}
.SmallSlider2 img{
    height:250px;
    width: 100%;
    object-fit: cover;
}
/* blockIcons */
.blockIcons {text-align: center;}
.blockIcons img{
    width: 100px;
}
/* recomBlock */
.recomBlock a{
    margin-top: 8px;
    width: 100%;
}
.recomBlock p{
    margin: 0;
    margin-top: 5px;
    padding: 0;
}
.imgBlock2 {
    height: 300px;
    display: block;
}
.imgBlock2 img{
    height: 100%;
    object-fit: cover;
}

/* preimushestva */
.preimushestva img{
    width: 60px;
}
.modnyiBlog a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.modnyiBlog a:hover{
    color: red;
}
.blockImgmodnyiBlog {
    height: 200px;
}
.modnyiBlog img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}