.catalogBlock{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.blockCatalog{
    width: 100%;
    display: flex;
}
.graymenu{
    font-weight: 300;
}
.menuSecond li{
    font-weight: 300;
}
.percent70{
    width: 70%; 
}
.textCatalogBlock h3{
    font-size: 15px;
    margin: 0;
}
.he{
    margin-left: 150px;
    margin-right: 150px;
}
.he input{
    width: 100%;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
text-transform: uppercase;
}
.textCatalogBlock p{
    font-size: 12px;
    margin: 5px;
    font-weight: 300;
    text-transform: uppercase;
}
.textCatalogBlock span{
    color: green;
}
.textCatalogBlock{margin-left: 15px;}
.priceCatalogBlock{margin-left: 15px;}
.priceCatalogBlock{
    font-size: 14px;
    font-weight: bold;
}
.priceCatalogBlock a{
    background-color: rgb(227, 227, 227);
    color: rgb(49, 49, 49);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid gray;
}
.priceCatalogBlock p{padding-bottom: 10px;}
.priceCatalogBlock a:hover{
    background-color: rgb(99, 206, 63);
    color: white; 
}
.priceCatalogBlock img{
    width: 20px !important;
}
.percent30{
    width: 30%;     
}
.smallpercent30{
    font-size: 13px;
}
.smallpercent30 input{
    width: 120px;
}
.checkboxGenre{
    width: 100%;
    display: flex;
}
.block1Checkbox{
    width: 80%;
}
.block2Checkbox{
    font-size: 12px;
    border-radius: 10px;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    background: black;
    color: white;
}
.checkboxGenre div{
    margin-top: 5px; 
}
legend{
    margin-top: 30px;
}
/* menu */
.menupercent70 ul {
    display: flex;
    padding: 0;
}
.menupercent70 li{
    font-size: 14px;
    margin-right: 20px;
}
.menupercent70 a{
    color: gray;
}
/* cardCatalogBlock */
.cardCatalogBlock{
    display: flex;
}
.imgCatalogBlock{
    position: relative;
    width: 200px;
}
.overlayTextCatalog{
    position: absolute;
    top: -3%;
    left: -3%;
    background: red;
    color: white;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}
.cardCatalogBlock img{
    width: 100%;
}
.cardCatalogBlock{
    width: 100%;
}
.imgCatalogBlock{
    width: 25%;
}
.textCatalogBlock{
    width: 50%;
}
.priceCatalogBlock{
    width: 25%;
    text-align: center;
}
.skidkaPriceCatalogBlock{
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.priceCatalogBlock a{
    font-weight: 300;
}
.textCatalogBlock img{
    width: 15px;
}
.textCatalogBlock li{
    margin-right: 10px;
}
.textCatalogBlock ul{
    display: flex;
    padding: 0
}
.textCatalogBlock span{
    font-size: 10px;
    font-weight: 300;
}
