.catalogBlock{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.blockCatalog{
    width: 100%;
    display: flex;
}
.percent70{
    width: 70%; 
}
.textCatalogBlock h3{
    font-size: 15px;
}
.textCatalogBlock p{
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}
.textCatalogBlock span{
    color: green;
}
.textCatalogBlock{margin-left: 15px;}
.priceCatalogBlock{margin-left: 15px;}
.priceCatalogBlock{
    font-size: 13px;
}
.percent30{
    width: 30%;     
}
.smallpercent30{
    font-size: 13px;
}
.smallpercent30 input{
    width: 120px;
}
.checkboxGenre{
    width: 100%;
    display: flex;
}
.block1Checkbox{
    width: 80%;
}
.block2Checkbox{
    width: 20%;
}
legend{
    margin-top: 30px;
}
/* menu */
.menupercent70 ul {
    display: flex;
    padding: 0;
}
.menupercent70 li{
    font-size: 14px;
    margin-right: 20px;
}
.menupercent70 a{
    color: gray;
}
/* cardCatalogBlock */
.cardCatalogBlock{
    display: flex;
}
.imgCatalogBlock{
    position: relative;
    width: 200px;
}
.overlayTextCatalog{
    position: absolute;
    top: -3%;
    left: -3%;
    background: red;
    color: white;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
}
.cardCatalogBlock img{
    width: 100%;
}