.catalogBlock{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}
.blockCatalog{
    width: 100%;
    display: flex;
}
.percent70{
    width: 70%;
    background: rgb(69, 225, 181);
}
.percent30{
    width: 30%;
    background: blueviolet;
}
/* menu */
.menupercent70 ul {
    display: flex;
    padding: 0;
}
.menupercent70 li{
    font-size: 14px;
    margin-right: 20px;
}
.menupercent70 a{
    color: gray;
}
/* cardCatalogBlock */
.cardCatalogBlock{
    display: flex;
}
.cardCatalogBlock img{
    width: 300px;
}