body{
    background-color: rgb(229, 237, 241);
    font-family: "Science Gothic", sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*  menuStart start*/
.menuStart {
    margin-left: 120px;
    margin-right: 80px;
    display: flex; 
    align-items: center;
}
.btnMenuBig{
    margin-left: 40px;
}
.menuStart ul{
    display: flex;
    align-items: center;
}
.menuStart li{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}
.graymenu{
    color: gray;
    font-weight: 600;
}
.btnMenu{
    color: white;
    font-weight: bold;
    padding: 6px;
    font-size: 15px;
}
.support{
    background-color: rgb(32, 144, 235); 
}
.support:hover{
    background-color: rgb(21, 240, 189); 
    font-size: 16px;
    transition: all 0.6s ease-out;
}
.mybuy{
    background-color: red; 
}
.mybuy:hover{
    background-color: rgb(218, 255, 83); 
    font-size: 16px;
    transition: all 0.6s ease-out;
}
/*  menuStart end */

/* menuSecond start */
.menuSecond {
    background-color: #3a3a3a;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menuSecond a{
    color: #fff;
}
.menuSecond ul{
   margin-left: 80px;
    margin-right: 80px;
    display: flex; 
    align-items: center;
}
.menuSecond ul{
    display: flex;
    align-items: center;
}
.menuSecond li{
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
}
/* menuSecond end */
/* banner */
.banner{
    text-align: center;
}
/* banner */

/* card */
.cardBlock{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.cardGreat{
    position: relative;
    width: 220px;
    height: 180px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
}
.cardGreat img{
    width: 100%; 
    display: block;
}
.overlayText{
    position: absolute;
    top: -4%; 
    left: -4%;
    color: white;
    background-color: red;
    box-shadow: 4px 3px 2px black;
    padding: 3px;
}
.cardBottom img{
    width: 30px;
}
.cardBottom ul{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    display: flex;  
} 
.cardBottom li{
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 400;
}
.bgSkidka{
    background: rgb(91, 204, 91);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
/*  */ 